body {
    margin: 0;
    background-color: black;
    color: white;
    padding-top: 100px;
}

#water {
    display: block;
    margin: 0 auto;
    background-image: url('../img/2.jpg');
    background-image: -webkit-image-set(url('../img/2.jpg'));
    background-size: cover;
    width: 100%;
    height: auto;
    cursor: crosshair;
    cursor: url(../img/circular-cursor.png) 53 53, crosshair;
}

#waterContainer {
    text-align: center;
    font-family: Avenir, sans-serif;
}

#waterContainer figcaption {
    margin-top: 2rem;
}